{% extends 'base.html' %}

{% block content %}
<h1>About</h1>
<h3>{{my_text|capfirst|upper|title|center:"15"}}</h3>

<p>This is a template</p>

{{ my_html|safe|striptags|slugify }} 
<!-- safe: mark_safe -->

<p>
	{{ my_text }}, {{ my_number }}, {{ my_list }}
</p>


<ul>
<!-- {% for my_sub_item in my_list %}	
   <li>{{ forloop.counter }} - {{ my_sub_item }}</li>
{% endfor %} -->

{% for abc in my_list %}
	{% if abc == 312 %}
		<li>{{forloop.counter }} - {{abc}}</li>
	{% elif abc == "Abc" %}
		<li>This is not the network</li>
	{% else %}
        <li>{{ forloop.counter }} - {{ abc }}</li>
	{% endif %}	
   
{% endfor %}


<!-- <p>
	Template tag filter 使用
</p> -->
</ul>

{% endblock content%}
<!-- content是variable，可不加 -->